body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
  border-bottom: 1px solid #ff4fa3;
}

.logo {
  color: #ff4fa3;
  font-weight: bold;
}

.links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.links a:hover {
  color: #ff4fa3;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff4fa3;
  text-align: center;
}

/* SEZIONI */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #ff4fa3;
  text-align: center;
}

.text {
  text-align: center;
  opacity: 0.8;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #ff4fa3;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: black;
  color: #ff4fa3;
  border: 2px solid #ff4fa3;
  text-decoration: none;
  border-radius: 10px;
}